.lof-ass .blue { border: 0; }
.lof-ass .lof-css3, .lof-ass .lof-css3 .preload { box-shadow: none; border:0; }

/*menu central de conteudo*/
.icon-stack-base {
	color:  #2c67cd !important; 
}

.module-box-01 li {
	border: 0px !important;
	border-bottom: 1px dotted #ccc !important;
}

.icon-light {
    font-size: 20px !important;
}

.icon-stack .icon-stack-base {
    font-size: 52px !important;
}

.footer-ferramenta{ display:none; }

.pd-ctitle{ 
	display:none; 
}

.gkResponsive img.nspImage, img.nspImage.gkResponsive {
    height: 130px;
    width: 220px !important;
    border-radius: 5px;
}

.nspArt h4.nspHeader {
    font-size: 15px;
    margin: 0;
    padding: 10px 0 15px;
    color: #2c67cd;
    font-family: "open_sansregular", "Open Sans", Arial,Helvetica, sans-serif;
    font-weight: 400;
}

#nsp-nsp-238
{
    margin-left: 0;
}

header #logo.small h1{
   line-height:1.1em;

}

div.controls > input, div.controls > select, div.controls > textarea {
	width:80%;

}

div.controls > select {
	width:82.5%;

}

main #navigation .central-conteudos li {
  /*  padding: 14px 10px 14px 0 !important; */
    font-size: 0.9em;
    height: 40px;
    
}

.lof-description.noticias_fab{
	display:none;
}

.barra_noticias2{
	border-top: 3px solid #003366; 
	margin-top:-30px;
}

.barra_noticias2 > p{
	text-align: right; 
	padding-top: 5px;
}

.link-video {
    background: url("../img/spriteFab.png") no-repeat scroll 0 -156px rgba(0, 0, 0, 0);
    padding: 0 0 25px 50px;
    
}

.link-radio {
    background: url("../img/spriteFab.png") no-repeat scroll 0 -500px rgba(0, 0, 0, 0);
    padding: 0 0 20px 50px;
    display: block;    
}

.link-fotos {
    background: url("../img/spriteFab.png") no-repeat scroll 0 -300px rgba(0, 0, 0, 0);
    padding: 0 0 22px 50px;
}

.link-publicacoes {
    background: url("../img/spriteFab.png") no-repeat scroll 0 -450px rgba(0, 0, 0, 0);
    padding: 0 0 22px 50px;
}

.link-audios {
    background: url("../img/spriteFab.png") no-repeat scroll 0 -108px rgba(0, 0, 0, 0);
    padding: 0 0 22px 50px;
}

.link-downloads {
    background: url("../img/spriteFab.png") no-repeat scroll 0 -400px rgba(0, 0, 0, 0);
    padding: 0 0 22px 50px;
}

#content.internas .tile-list-1 .tileItem .tileContent{
   float:left;
   border-left:none;
   overflow:hidden;
   padding-left:22px;
   
}

.input_buscar{
	width:70%;

}

main div.container .variacao-module-02 .outstanding-header {
    border-color:  #1F5DC2;
    background: none repeat scroll 0% 0% rgb(238, 239, 242);
}

#content.internas .page-header > h2{
	background: none repeat scroll 0 0 #EEEFF2;
    	border-top: 3px solid #1F5DC2;
    	color: #1F5DC2;
    	height: 36px;
    	line-height: 1em;
    	padding: 12px 5px 5px 10px;
	border-bottom: 0;    	
	font-size: 1em;
}

#content.internas .page-header{
	border-bottom: 0;    	

}

/*Estilo para agenda de eventos*/

#content.internas #jevents_header > h2{
	background: none repeat scroll 0 0 #EEEFF2;
    	border-top: 3px solid #1F5DC2;
    	color: #1F5DC2;
    	height: 36px;
    	line-height: 1em;
    	padding: 12px 5px 5px 10px;
	border-bottom: 0;  
	margin-bottom: 15px;
}

/*estilo para enquete*/
main div.container .module.enquete {
	padding-top : 0px;
}

.enquete{
	background-color:#EEEFF2;
	border-radius:10px;
}

main div.container .module.enquete .outstanding-header {
    background: none repeat scroll 0 0 #EEEFF2;
    border-top: 0;
    margin: 0;
    min-height: 10px;
    padding-bottom: 0;
    position: relative;
    
}

main div.container .module.enquete .outstanding-header > .outstanding-title {
    color:#1F5DC2;
    font-size:16px;
    font-weight:bold;
    margin: 10px 8px 10px 8px;
}


.perguntas_mijo{
	background-color:#F9F9F9;
	color:#335277;
	font-family: "Arial", Times, serif;
	font-size:15px;
	padding-left:10px;
	height:37px;
	padding-top:10px;
	padding-bottom:10px;
}

.respostas_mijo{
	color:#335277;
	font-size:14px;
	font-family: "Arial", Times, serif;
	background-color:#EEEFF2;
	padding-left:10px;

}

.respostas_mijo input{
	margin-top:0;
}

.respostas_mijo label{
	line-height:30px;
}

.botao_enviar_mijo{
	background-color:#888;
	padding-left:0;
}

.botao_enviar_mijo button.btn {
    
    background-image: none;
    background-color: #888;
    padding: 8px 12px;
    color:white;
    width:100%;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    border-width:0;
    text-align: left;
    padding-left:15px;
    
}

#poll_links{
	background-color:#EEEFF2;
	padding-left:10px;

}

#poll_links a{
	font-size:11px;
	/*color:#444A5;*/

}

.container_mijo{
	background-color:#EEEFF2;
	margin-left:0px !important;
	padding:1px 1px 1px 0px !important;
}
/*
label[for="mod_voteid1"] {
    margin-left:7px !important;
    
} 
*/
/* inicio alteracoes do contraste */


.contraste #content.internas h2{
	color: #FFFFFF;
}

/* em documentFirst... faltava colocar o .contraste antes*/
.contraste #content.internas h1, .contraste #content.internas .documentFirstHeading{
	background:#1c1c1c!important;
}


.contraste #content.internas h1, .contraste #content.internas .documentFirstHeading{ 
    border-top: 3px solid #FFFFFF;
}

.contraste #content.internas .tile-list-1 .tileItem .tileHeader h2 a,
.contraste #content.internas .tile-list-1 .tileItem .tileHeader h3 a,
.contraste #content.internas .tile-list-1 .tileItem .tileHeader h4 a {
 
  color:#FFF
}


.contraste .btn-success {
background-color:#000;
background-image:-moz-linear-gradient(top, #000, #000);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#000));
background-image:-webkit-linear-gradient(top, #000, #000);
background-image:-o-linear-gradient(top, #000, #000);
background-image:linear-gradient(to bottom, #000, #000);
background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
border-color:#000 #000 #000;
border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*background-color:#000;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.contraste .btn-info,

.contraste .btn {
background-color:#000;
background-image:-moz-linear-gradient(top, #000, #000);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#000));
background-image:-webkit-linear-gradient(top, #000, #000);
background-image:-o-linear-gradient(top, #000, #000);
background-image:linear-gradient(to bottom, #000, #000);
background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
border-color:#000 #000 #000;
border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*background-color:#000;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


.contraste .btn:hover,
.contraste .btn:focus,
.contraste .btn:active,
.contraste .btn.active,
.contraste .btn.disabled,
.contraste .btn[disabled],
.contraste .btn-info:hover,
.contraste .btn-info:focus,
.contraste .btn-info:active,
.contraste .btn-info.active,
.contraste .btn-info.disabled,
.contraste .btn-info[disabled],
.contraste .btn-success:hover,
.contraste .btn-success:focus,
.contraste .btn-success:active,
.contraste .btn-success.active,
.contraste .btn-success.disabled,
.contraste .btn-success[disabled] 
 {
color:#ffffff;background-color:#000;*background-color:#000;
}

.contraste header #social-icons a{color:white}

.contraste main div.container #navigation nav a{color: white;}


/* contraste menu principal
.contraste .menutop li:hover .item:hover, .menutop li.active .item:hover  {background-color:#1c1c1c !important;border:none;color:#fff;} */
.contraste .menutop li .item {text-decoration:none;display:block;padding:0 5px;background:#1c1c1c;border-color:#1c1c1c #1c1c1c #1c1c1c #1c1c1c;border-style:none;border-width:0px;color:#FFF;text-decoration:none;}
.contraste .menutop .level2 li > .item {background:#1c1c1c;border-color:#1c1c1c;border-style:none;border-width:0px;}

/* contraste módulo */
.contraste main div.container .module .header {
    background: #1c1c1c none repeat scroll 0 0;
    border-top: 4px solid #fff;
    margin: 0 0 22px;
    min-height: 53px;
    padding-bottom: 4px;
    position: relative;
}

/* fim alteracoes do contraste */



/* facebook twitter */
main div.container .module-twitter-facebook .twitter-content,
main div.container #content.internas .module-twitter-facebook .twitter-content,
main div.container .module-twitter-facebook .facebook-content, 
main div.container #content.internas .module-twitter-facebook .facebook-content {
    min-height: 250px !important;
    height: 300px !important;
    margin: 6px;   
    border-radius: 5px;
       
}

main div.container .module-twitter-facebook {
    padding-bottom: 0px;
}

div.modulo_mais_noticias{
margin-left:0px !important;
padding-right:10px;

}
main div.container .modulo_mais_noticias{
padding-bottom: 0px;
padding-top: 0px;
margin-top: -50px;
margin-bottom: 0px;

}


/* layout facebook, eventos e enquete em linha */

main div.container .module.eventos_linha .outstanding-header{
margin: 0 0 32px 0px;
}

main div.container  .module.eventos_linha  {
margin-left:0px;

}

main div.container  .module.eventos_linha .table th,
main div.container  .module.eventos_linha .table td{

	line-height:28px;
	}

main div.container  .module.enquete_linha  {
margin-top:20px;
height: 339px;
}
main div.container .modulo_mais_noticias.modulo_mais_noticias_linha{

margin-top: -20px;
margin-bottom: 20px;

}
main div.container .modulo_mais_noticias.modulo_mais_noticias_linha .mais_noticias_border_top{ 
    border-top: 1px solid #003366;
    border-bottom: 3px solid #003366;

}


/* fim layout facebook, eventos e enquete em linha */


.contraste .mais_noticias_border_top{ 
    border-top: 3px solid #FFFFFF;
}
.mais_noticias_border_top{ 
    border-top: 3px solid #003366;

}

.pagina-mapa-do-site #content ul li a, .footer-menus ul li a {
	padding : 0px;
	background : none;
}
div.nspArtPage  img{
	width:220px !important;
	height:130px !important;
	border-radius:5px;

}

element.style {
    margin-top: 105px !important;
}

/* YouTube Gallery*/

 #content.internas .youtubegallery-list table{
	border: 0px;
	
}

/* audios */
div.jp-audio {
width: 490px;
}

div.jp-audio ul.jp-controls {
width: 450px;
 /* padding: 20px 20px 0 20px; */
}

div.jp-audio div.jp-type-single div.jp-time-holder, 
div.jp-audio div.jp-type-single div.jp-progress {
width: 256px;
}


div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute {
margin-left: 280px;
}


div.jp-audio div.jp-volume-bar {
left: 400px;
}

#content.internas h2 {
height: 100%; 
}


#galeriavideo{
	border-radius: 4px;
	background-color:#062458;
	width:750px;
	padding-top:0px;
}

#videotitulo{
	font-size: 22px;
	color: #FFFFFF;
	padding: 20px 0 0 20px;
	height: 40px;
	border-bottom: 1px solid #213e83;
}

#gvtitulo{
	font-family: "Arial";
	font-weight: bold;
	font-size: 16px;
	color: white;
	padding: 15px 0 15px 15px;
}

#gvdescricao{
	padding: 0 0 0 15px;
	color: white;
	width: 450px;
	height: 80px;
	overflow: hidden;
	font-size: 13px;
	line-height: 16px;
}
#gvbarra{
	border-left: 1px dotted #213e83;
	overflow: scroll -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	top: 60px;
	left: 480px;
	min-height: 500px;
	width: 270px;
}

#videoplayer{
	padding-top: 15px;
	padding-left: 15px;
	border: none;
	color: white;
}

#gvideorodape{
	border-top: 1px dotted #213e83;
	background-color:#061848;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: right;
	height: 35px;
        padding-right: 15px;
        padding-top: 15px;
        position: relative;
}

#gvideorodape a{
	color: #FFFFFF;
}

#gvbarra .video-item{
	border-top: 1px dotted #213e83;
	height:90px;
}

#gvbarra .video-item img{
	height: 60px;
	width: 90px;
}
/*pagina de mais noticias*/
.nspArt h4.nspHeader {

    height: 30px;
}


#poll_links a{
	font-size: 11px;
	/*color:#444A5;*/

}

#gvbarra div.video-item.row-fluid div {
	padding: 10px 0 0 0;
}

#content.internas ul li {
	list-style: outside none none !important;
}

ul.chzn-choices > li.search-field > input {
	width: 100% !important;
}

.tab-content {
    overflow: visible;
}

div.input-append > input[type=text]{
	display:inline !important;
}
.nspArt p.nspText {
    display: inline-table !important;
}

._4s7c {
	border-top-color: #aaa !important;
	-webkit-width: 217px !important;
}


.eventgallery-tiles-list .wrapper .data {
	word-break: normal;
	font-size: 9px;
}

.eventgallery-tiles-list div.event-thumbnail  img{
	width:240px !important;
	height:180px !important;
}

/*Modulo central de conteudo home page*/
div.container .module ul li  {
	display:flex !important;

}
/*congigurar responsividade nas imagens*/
	/*logo*/
#logo img{
	max-width:100% !important;
	width:auto !important;
	height:auto;
}
header .accessibility-language-actions-container{
	overflow:unset;
}

main div.container .module {
    padding-top: 0px;}
    
    
    /* CSS do agenda de eventos titulo e cabeçalho */
main div.container .module .header{
    border-top: 4px solid #3268ba;
    background: #eeeff2;
    min-height: 53px;
    margin: 0 0 22px 0;
    padding-bottom: 4px;
    position: relative;
}

main div.container .module .title{
    line-height: 1em;
    margin: 11px 8px 10px 8px;
    font-size: 1.45em;
    font-weight: 400;
    color: #3268ba;
}

/* Personalização do rodapé */

footer .row {color: #fff; font-weight: 600;}
    
footer .footer-logos { display: none;}

/* ajustes finos */

header #logo h1 {line-height: .9em;}

main .container { padding: 25px 0 0px 0;}


header #portal-searchbox .searchButton {
    background: #fff none repeat scroll 0 0;
    border-left: 0 none !important;
    height: 30px;
    padding-bottom: 4px;
    padding-right: 8px;
    position: relative;
    width: 34px;
}
